.wrapper {
    margin-bottom: 12px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 12px;

    &:hover {
        border-color: #d9d9d9;
    }

    .component {
        pointer-events: none;
    }
}