.container {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 3px;

    &:hover {
        box-shadow: 0 4px 10px #e8e8e8;
    }

    .header {
        display: flex;
        .title {
            flex: 1;
        }
        .info {
            flex: 1;
            text-align: right;
        }
    }
    .content {
        display: flex;

        .left-content {
            flex: 1;
        }
        .right-content{
            flex: 1;
            text-align: right;
        }
    }
}